ion-content {
    --background: url('/assets/img/paisajes2.jpg') no-repeat center center / cover;
  }
  
  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }